* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.CadastroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    width: 100vw;
    height: 100vh;
}
