* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LoginContainer {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}
